<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zh.com.jyu">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_jyu"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_jyu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".business.activity.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.activity.LoginActivity" />
        <activity android:name=".business.activity.MainActivity" />
        <activity android:name=".business.activity.PickingActivity" />
        <activity android:name=".business.activity.GoodListActivity" />
        <activity
            android:name=".business.activity.GoodsDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".business.activity.CraftListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".business.activity.CraftDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".business.activity.RelationOrderListActivity" />
        <activity android:name=".business.activity.ReportActivity" />
        <activity android:name=".business.activity.AddReportActivity" />
        <activity android:name=".business.activity.PhotoActivity" />
        <activity android:name=".business.activity.UserListActivity" />
        <activity android:name=".business.activity.SelectUserActivity" />
        <activity android:name=".business.activity.EditReportActivity" />
        <activity android:name=".business.activity.GroupListActivity" />
        <activity android:name=".business.activity.AddGroupActivity" />
        <activity android:name=".business.activity.EditGroupActivity" />
        <activity android:name=".business.activity.SearchResultActivity" />
        <activity android:name=".business.activity.GoodsListActivity" />
        <activity android:name=".business.activity.NMainActivity" />
        <activity android:name=".business.activity.OrderDetailActivity" />
        <activity android:name=".business.activity.GoodsListHActivity" />
        <activity android:name=".business.activity.PlanActivity" />
    </application>
    <!--&lt;!&ndash;连接网络权限，用于执行云端语音能力 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--&lt;!&ndash;获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--&lt;!&ndash;读取网络信息状态 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--&lt;!&ndash;获取当前wifi状态 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--&lt;!&ndash;允许程序改变网络连接状态 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <!--&lt;!&ndash;读取手机信息权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--&lt;!&ndash;读取联系人权限，上传联系人需要用到此权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--&lt;!&ndash;外存储写权限，构建语法需要用到此权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--&lt;!&ndash;外存储读权限，构建语法需要用到此权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--&lt;!&ndash;配置权限，用来记录应用配置信息 &ndash;&gt;-->
    <!--<uses-permission-->
        <!--android:name="android.permission.WRITE_SETTINGS"-->
        <!--tools:ignore="ProtectedPermissions" />-->
    <!--&lt;!&ndash;手机定位信息，用来为语义等功能提供定位，提供更精准的服务&ndash;&gt;-->
    <!--&lt;!&ndash;定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--&lt;!&ndash;如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
</manifest>