<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zh.xfz">

    <!-- 必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-sdk tools:overrideLibrary="me.pqpo.smartcropperlib"></uses-sdk>
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="PGYER_APPID"
            android:value="5a980ae09deaf9eb4bfb25278a349de9"></meta-data>
        <activity
            android:name=".business.activity.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.activity.LoginActivity" />
        <activity android:name=".business.activity.InputPasswordActivity" />
        <activity android:name=".business.activity.ValidNoteActivity" />
        <activity
            android:name=".business.activity.AccountLoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".business.activity.CreateBusinessActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".business.activity.MainActivity" />
        <activity android:name=".business.activity.NewFriendActivity" />
        <activity android:name=".business.activity.FriendDetailActivity" />
        <activity android:name=".business.activity.SearchFriendActivity" />
        <activity android:name=".business.activity.GroupActivity" />
        <activity android:name=".business.activity.AddGroupMembersActivity" />
        <activity android:name=".business.activity.GroupMemberListActivity" />
        <activity android:name=".business.activity.SettingActivity" />
        <activity android:name=".business.activity.UpdatePasswordActivity" />
        <activity android:name=".business.activity.GroupDetailActivity" />
        <activity android:name=".business.activity.GroupMemberInfoActivity" />
        <activity android:name=".business.activity.AddPasswordActivity" />
        <activity android:name=".business.activity.PersonCardActivity" />
        <activity android:name=".business.activity.PersonDetailInfoActivity" />
        <activity android:name=".business.activity.UpLoadPortraitActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".business.activity.UpdatePersonNameActivity" />
        <activity android:name=".business.activity.CompanyActivity" />
        <activity
            android:name=".business.activity.AccountSecurityActivity"
            android:launchMode="singleTask" />
        <activity android:name=".business.activity.UpdatePhoneActivity" />
        <activity android:name=".business.activity.UpdatePhoneSmsActivity" />
        <activity android:name=".business.activity.MyCompanyActivity" />
        <activity android:name=".business.activity.HelpActivity" />
        <activity android:name=".business.activity.HelpItemActivity" />
        <activity android:name=".business.activity.HelpDetailActivity" />
        <activity android:name=".business.activity.CsrActivity" />
        <activity android:name=".business.activity.SelectCompanyActivity" />
        <activity android:name=".business.activity.WXLoginActivity" />
        <activity android:name=".business.activity.BusinessListActivity" />
        <activity
            android:name=".business.activity.AddFriendActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.zh.xfz"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--IM会话列表-->
        <activity
            android:name=".business.activity.im.ConversationListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zh.xfz"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--IM会话页面 android:windowSoftInputMode="stateHidden|adjustResize"-->
        <activity
            android:name=".business.activity.im.ConversationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zh.xfz"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>

        </activity>

        <!--IM聚合会话列表-->
        <activity
            android:name=".business.activity.im.SubConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zh.xfz"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zh.xfz.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <activity
            android:name="com.zh.xfz.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.zh.xfz"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <receiver
            android:name=".wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>